<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.VangBacDaQuyConnectionString"
            connectionString="Data Source=LUCO\SQLEXPRESS;Initial Catalog=VangBacDaQuy;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>